<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    p {
        color: rgb(243, 237, 237);
        background-color: rgb(26, 103, 122);
        font-size: 20px;
    }
</style>
<body>
    
</body>
</html>

<div>
    <p>Name: {{this.name}} | City: {{this.city}} | State: {{this.state}}</p>
    <form action="/gyms/remove/{{_id}}" method="POST">
           <a href="/gyms/{{_id}}"><button type="submit">Delete Gym</button></a>
       </form>
  {{!-- <a href="/gyms/{{_id}}"><button data-value="{{this._id}}">Delete</button></a>     --}}
</div>
