<h1>{{username}}</h1>
<h3>Age: {{age}}</h3>
<h3>Weight:{{weight}}</h3>
<h3>Height: {{height}}</h3>
<h3>Goals: {{goals}}</h3>
<br>
<form action="/users/edit/{{userId}}" method="post">
    <div>
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="userName" value="{{username}}">
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="userAge" value="{{age}}">
    </div>
    <div>
        <label for="weight">Weight:</label>
        <input type="number" id="weight" name="userWeight" value="{{weight}}">
    </div>
    <div>
        <label for="height">Height:</label>
        <input type="number" id="height" name="userHeight" value="{{height}}">
     </div>
    <div>
        <label for="msg">Goals</label>
        <textarea id="msg" name="userGoals" value="{{goals}}"></textarea>
    </div>
<br>
    <input type="submit" value="Edit Info">
</form>
<form action="/users/delete/{{userId}}" method="post">
    <input type="submit" value="Delete User">
</form>
<br>
<form action="/exercises/new/{{userId}}" method="post">
    <div>
        <label for="name">Exercise Name</label>
        <input type="text" id="name" name="exerciseName">
    </div>
    <div>
        <label for="reps">Reps: </label>
        <input type="number" id="reps" name="userReps">
    </div>
    <div>
        <label for="msg">Description</label>
        <textarea id="msg" name="exerDescr"></textarea>
    </div>
<br>
    <input type="submit" value="Create Exercise">

</form>

<br>

<h1>Exercises List</h1>
{{#each exercises}}
    {{> exercise}}
{{/each}}